.container {
  margin: 0 auto;
  padding: 64px 16px 32px 16px;
  max-width: 600px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em
}

.calendar {
  position: relative;
}

.hour-box {
  display: grid;
  grid-template-columns: 3.5em auto;
  height: 100%;
}

.times {
  display: flex;
  flex-direction: column;
  position: relative;
}

.col-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  margin-right: 1em;
}

.slot {
  min-height: 20px;
  width: 100%;
  border-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}

.slot-bg:hover {
  background-color: #ededed;
}

.half-hour-div {
  border-bottom: 1px solid #cdcdcd;
}

.hour-div {
  border-top: 1px solid #7a7a7a;
}

.content {
  position: absolute;
  width: 100%;
  top: 0;
}