* {
  box-sizing: inherit;
}

@font-face {
  font-family: 'mono';
  font-weight: normal;
  src: local('mono'), url(./assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'mono';
  font-weight: 700;
  src: local('mono'), url(./assets/fonts/JetBrainsMono-Bold.woff2) format('woff2');
}

#root {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: mono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-datepicker {
  font-family: mono, monospace !important;
}

.container {
  margin: 0 auto;
  padding: 64px 16px 32px 16px;
  max-width: 600px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4em
}

.calendar {
  position: relative;
  width: 100%;
}

.hour-box {
  display: grid;
  grid-template-columns: 3.5em auto;
  height: 100%;
}

.times {
  display: flex;
  flex-direction: column;
  position: relative;
}

.col-center {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  margin-right: 1em;
}

.hour {
  position: absolute;
  transform: translateY(-50%);
}

.slot {
  min-height: 20px;
  width: 100%;
  border-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}

.slot-bg:hover {
  background-color: #ededed;
}

.half-hour-div {
  border-bottom: 1px solid #cdcdcd;
}

.hour-div {
  border-top: 1px solid #7a7a7a;
}

.content {
  position: absolute;
  width: 100%;
  top: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.vert-center {
  align-items: center;
}

.icon-circular {
  border-radius: 50%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  padding: 3px;
}

.icon-circular:hover {
  background-color: rgb(242, 242, 247);
}

.settings {
  margin-left: 5px;
  transition: all 0.25s ease;
}

.settings:hover {
  transform: rotate(25deg);
}

.date-display {
  cursor: pointer;
  user-select: none;
}

.react-datepicker__day--selected {
  background-color: black !important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
  color: black !important;
}

.react-datepicker__day {
  outline: none;
}

.react-datepicker__navigation {
  height: 0 !important;
  top: 12px !important;
}

.time-select {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5em 1em;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1em;
  margin-top: 4.5em;
  margin-left: -1px;
  z-index: 9999;
}

.todo {
  display: flex;
  align-items: center;
  height: 49px;
  border-bottom: 1px solid #7a7a7a;
  border-top: 1px solid #7a7a7a;
}

.todo input[type="text"], .todo input[type="text"]:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'mono', monospace !important;
  margin-top: -1px;
  margin-left: 0.5em;
}

.todo input[type="checkbox"] {
  box-shadow: none !important;
}
