@font-face {
  font-family: 'mono';
  font-weight: normal;
  src: local('mono'), url(./assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'mono';
  font-weight: 700;
  src: local('mono'), url(./assets/fonts/JetBrainsMono-Bold.woff2) format('woff2');
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: mono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-datepicker {
  font-family: mono, monospace !important;
}